* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 0;
	border: transparent;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	overflow: auto;
	background-color: #f6ebda;
}

.main {
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}

.header__logo {
	display: flex;
	align-items: center;
	margin-right: 120px;
}

.header__menu {
	display: flex;
	justify-content: center;
	margin-right: 30px;
	height: 100%;
	align-items: center;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
}

.menu-item {
	margin: 5px 32px 5px 0;
}

.header__link {
	font-weight: 400;
	font-size: 18px;
	color: #000;
}

.header__search {
	position: relative;
	border-radius: 35px;
	height: 40px;
	background-color: #fff;
	display: flex;
	flex-direction: row-reverse;
	margin-right: 24px;
	overflow: hidden;
	width: 222px;
}

.header__search-button {
	background-color: transparent;
	position: absolute;
	padding: 0 12px;
	top: 0;
	left: 0;
	height: 100%;
}

.header__cart {
	position: relative;
	cursor: pointer;
}

span {
	color: #ff902b;
}

.coffe {
	display: flex;
	justify-content: center;
	padding-top: 160px;
	overflow: hidden;
}

.coffe-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.coffe-content {
	margin-right: 200px;
}

.button {
	display: flex;
	align-items: center;
	padding: 12px 32px;
	background-color: #2f2105;
	border-radius: 33px;
	color: #fff;
}

.coffe-title {
	font-size: 48px;
	line-height: 72px;
	color: #2f2105;
	letter-spacing: normal;
}

.coffe-paragraph {
	margin-top: 24px;
}

.coffe-buttons {
	margin-top: 32px;
	display: flex;
	align-items: center;
}

.coffe-button {
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
}
.coffe-button:hover {
	background-color: #513d14;
}

.button__cart {
	width: 22px;
	height: 22px;
	display: flex;
	align-items: center;
	background-color: #ff912b;
	border-radius: 50%;
	margin-left: 10px;
}

.button__cart-icon {
	width: 15px;
}

.button-more {
	margin-left: 26px;
	background-color: transparent;
	border-radius: 33px;
	color: #f4ae26;
	padding: 10px 24px;
	font-size: 12px;
	border: 2px solid transparent;
}

.button-more:hover {
	color: #ff902a;
	border: 2px solid #ff912b;
	background-color: transparent;
}

.coffe-product {
	display: flex;
	align-items: center;
	position: relative;
	height: 100%;
}

.coffe-product-bg {
	max-width: 416px;
	min-width: 292px;
}

.coffe-image-box {
	position: relative;
	padding: 0 30px 0 74px;
	z-index: 1;
	margin-bottom: auto;
	max-width: 525px;
}

.coffe-tag-wrapper {
	position: absolute;
	padding: 6px;
	border-radius: 42px;
	background: linear-gradient(
		92.95deg,
		rgba(255, 255, 255, 0.4) 0.82%,
		rgba(255, 255, 255, 0.7) 96.47%
	);
}

.coffe-tag {
	font-weight: 600;
	font-size: 24px;
	color: #2f2105;
	background-color: #fff;
	border-radius: 42px;
}

.enjoy__coffee-img {
	position: absolute;
	top: 0;
	left: 20%;
	width: 60vw;
	max-width: 350px;
	min-width: 256px;
}

.tag-call {
	top: 25px;
	left: 0px;
}

.tag-rate {
	top: 75px;
	right: 0;
}

.tag-price {
	bottom: 30px;
	left: 80px;
}

.coffe-decor {
	position: absolute;
	top: -205px;
}

.popular {
	display: flex;
	justify-content: center;
	background-color: #f6ebda;
}

.popular__head {
	transform: translateY(160px);
	margin-bottom: 32px;
}


.popular__list {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 38px;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 90px;
	transform: translateY(160px);
}

.popular__product-wrapper {
	padding: 6px;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0.7) 100%
	);
}
.popular__product {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 12px;
	background-color: #fff;
	padding: 18px;
}


.popular__offer-image {
	max-width: 307px;
	max-height: 226px;
	margin-top: 6px;
	position: relative;
}

.popular__img {
	width: 100%;
	border-radius: 12px;
}


.popular__tag-wrapper {
	position: absolute;
	top: 7px;
	left: 10px;
	padding: 4px;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0.7) 100%
	);
	border-radius: 27px;
}


.popular__tag {
	background-color: #fff;
	border-radius: 50px;
	padding: 6px 10px;
	font-weight: 700;
}
.popular__tag-rate-icon {
	height: 14px;
}


.popular__offer {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	max-width: 280px;
	width: 100%;
}



.popular-offer__title {
	font-weight: 600;
	font-size: 24px;
	max-width: 190px;
	color: #2f2105;
}


.popular-offer__radio {
	display: flex;
	margin-top: 12px;
	height: 43px;
	align-items: center;
}


.popular-offer__temp {
	display: flex;
	width: 63px;
	height: 32px;
	justify-content: center;
	align-items: center;
	border: 2px solid #ff902a;
	border-radius: 8px;
	letter-spacing: 0.04em;
	font-weight: 600;
	font-size: 16px;
	color: #ff902a;
	opacity: 0.5;
	cursor: pointer;
}

.popular-offer__temp {
	margin-right: 24px;
}




.popular-offer__price {
	font-weight: 600;
	font-size: 24px;
	color: #2f2105;
}

.popular-offer__cart {
	width: 43px;
	height: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-top: 12px;
	background-color: #ff912b;
	cursor: pointer;
}
.popular-offer__cart:hover {
	background-color: #e47e1f;
}


.popular-offer__cart-icon {
	width: 18px;
}

.radio-active {
	opacity: 1;
}



.popular__decor-bg {
	position: absolute;
	z-index: -1;
	bottom: 60px;
	width: 70px;
	height: 90%;
	border-radius: 64px;
	background-color: #f9d9aa;
	min-width: 1265px;
	
}



.popular__title {
	position: relative;
}

.popular__decor {
	transform: translateX(-130px);
	position: absolute;
	bottom: -240px;
	left: 0;
	z-index: -1;
}

